<!--- Start of Our Location -->
<div class="row" id="OurLocation">
    <div class="col navMenu">
      <h2 class="text-center">~ Our Location ~</h2>
    </div>
  </div>
  <div class="row">
    <div #map style="width:100%;height:400px"></div>

    <!-- <div #map id="map" class="col-md-9 map"></div> -->
    <div class="col-md-3">
      <h3>{{contact.addressTitle}}</h3>
      <p>{{contact.address}}</p>
      <h3>{{contact.phoneTitle}}</h3>
      <p>{{contact.phoneNumber}}</p>
    </div>
</div>

  <!--- End of Our Location -->
