 <!---Start navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome">
       <img src="../assets/img/logo.jpg" width="80" height="80" class="d-inline-block" alt=""> Dabang Coffee House
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav ml-auto">
           <li class="nav-item">
             <a class="nav-link" href="#Welcome" (click)="getActiveTab('home')" [class.active]="activetab === 'home'">Welcome</a>
           </li>
         <li class="nav-item">
           <a class="nav-link" href="#Restaurant" (click)="getActiveTab('restaurant')" [class.active]="activetab === 'restaurant'">Restaurant</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#Menu" (click)="getActiveTab('menu')" [class.active]="activetab === 'menu'">Menu</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#Reservation" (click)="getActiveTab('reservation')" [class.active]="activetab === 'reservation'">Reservation</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#OurLocation" (click)="getActiveTab('location')" [class.active]="activetab === 'location'">Our Location</a>
         </li>
         <li class="nav-item">
           <a href="it/index.html" class="language" rel="it-IT"><img src="../assets/img/italy.ico" class="flag" alt="Italiano" /></a>
           <a href="index.html" class="language" rel="en-En"><img src="../assets/img/english.ico" class="flag" alt="English" /></a>
         </li>
       </ul>
   </div>
 </nav>
 <!--- End Navigation Bar -->