 <!--- Start of Menu-->
 <div class="row" id="Menu">
    <div class="col navMenu">
          <h2 class="text-center" >~ Menu ~</h2>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-md-4" data-aos="slide-up">
      <div class="card view zoom">
          <img class="card-img-top img-fluid " src="assets/img/meat-menu.jpg">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{menu.brekkyTitle}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{menu.brekkyMenu1}}</li>
              <li class="list-group-item">{{menu.brekkyMenu2}}</li>
             <li class="list-group-item">{{menu.brekkyMenu3}}</li>
             <li class="list-group-item">{{menu.brekkyMenu4}}</li>
             <li class="list-group-item">{{menu.brekkyMenu5}}</li>

          </ul>
          </div>
      </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
      <div class="card">
          <img class="card-img-top img-fluid " src="assets/img/fish-menu.jpg">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{menu.bugerTitle}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{menu.bugerMenu1}}</li>
             <li class="list-group-item">{{menu.bugerMenu2}}</li>
             <li class="list-group-item">{{menu.bugerMenu3}}</li>
             <li class="list-group-item">{{menu.bugerMenu4}}</li>
          </ul>
          </div>
      </div>
    </div>
    <div class="col-md-4" data-aos="slide-up">
      <div class="card">
          <img class="card-img-top img-fluid" src="assets/img/menu-vegetarian.jpg">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{menu.coffeeTitle}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{menu.coffeeMenu1}}</li>
              <li class="list-group-item">{{menu.coffeeMenu2}}</li>
             <li class="list-group-item">{{menu.coffeeMenu3}}</li>
             <li class="list-group-item">{{menu.coffeeMenu4}}</li>
             <li class="list-group-item">{{menu.coffeeMenu5}}</li>

          </ul>
          </div>
      </div>
    </div>
  </div>
  <!--- End of Menu -->
